amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
Django==1.10.4
django-appconf==1.0.2
django-apptemplates==1.2
django-bootstrap-form==3.2.1
django-celery==3.1.17
django-celery-email==1.1.5
django-comments-xtd==1.6.3
django-contrib-comments==1.7.3
django-markup==1.1
django-overextends==0.4.2
django-user-accounts==2.0.0
docutils==0.12
jsonfield==1.0.3
kombu==3.0.37
Markdown==2.6.7
Pillow==3.4.2
pinax-eventlog==1.1.2
pinax-theme-bootstrap==7.11.0
pinax-webanalytics==2.0.4
psycopg2==2.6.2
pytz==2016.7
six==1.10.0
sphinx-me==0.3
vine==1.1.3
