{% extends "site_base.html" %}
{% load i18n %}
{% load static %}
{% load comments %}
{% load comments_xtd %}

{% block head_title %}Perfil del usuario{% endblock %}

{% block body_class %}Profileteacher{% endblock %}

{% block body_base %}
<section>
<div class="container">

</div>
</section>
<div class="row">
  <div class="col-lg-offset-1 col-md-offset-1 col-lg-10 col-md-10">
    <div class="well wll-lg">
      {% include "comments/form.html" with teacherpk=comment.content_object.teacher.id %}
    </div>
  </div>
</div>

{% endblock %}