{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Cambiar la contraseña" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="">
                <legend>{% trans "Cambiar la contraseña" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-success">{% trans "Guardar" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}